<div class="bs-social-entity-wrapper">
	<div class="bs-social-entity-beforecontent">
		{{{beforecontent}}}
	</div>
	{{{entityactions}}}
	<div class="bs-social-entity-discussionbasetitlecontent">
		{{{basetitlecontent}}}
	</div>
	<div class="bs-social-entitylist bs-social-entitylist-discussion-children">
		{{{beforechildren}}}
		{{{children}}}
		{{{afterchildren}}}
	</div>
	<div class="bs-social-entity-discussionleftcolumn">
	</div>
	<div class='bs-social-entity-discussionrightcolumn'>
		<div class="bs-social-entity-content">
			{{{content}}}
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="bs-social-entity-aftercontent">
		{{{aftercontent}}}
	</div>
</div>
